<div class="hero">
	<div class="hero__content text-center h-[35vh] flex flex-col items-center justify-center max-w-none p-8 m-8">
		<h1 class="hero__heading text-secondary text-6xl md:text-7xl m-8">{{ heading }}</h1>
		<p class="hero__subtitle text-primary !font-headings text-2xl md:text-3xl">{{ subtitle }}</p>
	</div>
</div>
