{# Get width setting: 'wide' adds width-wide class, otherwise just content-block #}
{% set width = paragraph.field_width.value ?? 'regular' %}
{% set width_class = width == 'wide' ? 'content-block width-wide' : 'content-block' %}

<div class="{{ width_class }}">
	{% include '@helmbench/03-organisms/accordion/accordion.twig' with {
    heading: content.field_heading,
    content: content.field_content,
  } %}
</div>
